<form action="<%= purchased_item_path(event_params.merge(username: recipient.username)) %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label class="form-label">gift name
    <input type="text" name="item[title]" class="form-control" placeholder="teddy bear">
  </label>
  <label class="form-label">url to image
    <input type="text" name="item[image_url]" class="form-control" placeholder="https://google.com/teddy_bear.jpg">
  </label>
  <label class="form-label">url to listing
    <input type="text" name="item[listing_url]" class="form-control" placeholder="https://amazon.com/teddy_bear">
  </label>
  <label class="form-label">approximate price
    <input type="number" name="item[price]" class="form-control" step="0.01" value="0.00" placeholder="https://amazon.com/teddy_bear">
  </label>
  <label class="form-label">notes
    <textarea name="item[notes]" class="form-control" placeholder="i already have a black one, any other color is fine :)"></textarea>
  </label>
  <button type="submit" class="btn btn-primary">add item to wishlist</button>
</form>
