<nav class="navbar navbar-inverse" style="background: #69A7AC">
  <!-- Links -->
  <ul class="navbar-nav container">
    <% if event_name %>
      <li class="navbar-brand"><%= link_to(event_name, event_path(event_params), class: 'btn btn-outline-secondary') %></li>
    <% end %>
    <%= content_for(:nav_links) %>
  </ul>
</nav>
